*{
    padding: 0;
    margin: 0;
    font-family: 'poppins' , sans-serif;
}
nav{
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    overflow-x: hidden;
     background-color: #151530;
}
header{
    background-color: rgb(41, 41, 80);
    color: white;
    position: sticky;
    top: 0;
}
main{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
header h1{
    font-size: 50px;
    padding-left: 20px;
}
nav i{
    padding-right: 40px;
    font-size: 30px;
    cursor: pointer;
}
.section_of_inputs{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    background-color: rgba(38, 38, 76, 0.748);
    margin: 30px;
    border-radius: 10px;
   animation: float 2s ease-in-out infinite;
}

@keyframes float {

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }

}
.section_of_inputs h2{
    margin: auto;
    font-size: 50px;
    font-weight: 800;
}
.section_of_inputs div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.section_of_inputs div input{
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    border-bottom: solid 5px blue;
    box-shadow: 0 0 20px rgb(81, 81, 234);
    padding: 0 10px;
    font-size: 20px;
}
.section_of_inputs div span{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.body_of_data{
    width: 60%;
    border-radius: 40px;
}
.body_of_data table{
    width:100%;
    padding:40px 0 0 0;
    box-sizing: border-box;
    
}
.body_of_data table thead{
    background-color: #23234d;
}
.body_of_data table thead th{
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.body_of_data table tbody td{
    background-color: #3c3cd998;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
#Update{
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
#Delete{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
#Creat{
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    background-color: rgb(7, 7, 61);
    color: white;
}
#Creat:hover{
    box-shadow: 0 0 25px rgb(3, 3, 102);
    transition: 0.5s;
    cursor: pointer;
    letter-spacing: 3px;
}

.container_of_search{
    background-color: #242442;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 40px 40px;
}
.container_of_search input{
    font-family: 'system-ui';
    font-weight: 700;
    outline: none;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:solid 5px blue;
    box-shadow: 0 0 25px rgba(0, 0, 255, 0.704);
}